<div class="quizz__container">

  <mat-toolbar color="primary">
    <span>{{ title }}</span>
  </mat-toolbar>

  <div *ngIf="loading" class="loader">
    <mat-spinner [diameter]="50"></mat-spinner>
    <p>Carregando perguntas...</p>
  </div>

  <mat-card *ngIf="!loading && !finished && questionSelected" class="quizz_questions">
    <mat-card-title>{{ questionSelected?.question }}</mat-card-title>
  </mat-card>

  <div *ngIf="!loading && !finished && questionSelected" class="timer">
    <p>Tempo restante: {{ timeLeft }} segundos</p>
  </div>
  
  <mat-progress-bar
    *ngIf="!loading && !finished && questionSelected"
    mode="determinate"
    [value]="(questionIndex / questionMaxIndex) * 100">
  </mat-progress-bar>

  <div *ngIf="!loading && !finished && questionSelected" class="quizz_options">
    <button
      mat-raised-button
      color="primary"
      *ngFor="let option of questionSelected.options; let i = index"
      (click)="playerChoose(option.alias)"
      [ngClass]="{'selected': selectedAnswer === option.alias}">
      {{ option.name }}
    </button>
  </div>


  <mat-card *ngIf="!loading && finished" class="quizz_results">
    <mat-card-title>O Seu resultado é:</mat-card-title>
    <mat-card-content>
      <p>{{ answerSelected }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="restartQuiz()">Reiniciar Quiz</button>
      <button mat-raised-button color="primary" (click)="shareResult()">Compartilhar Resultado</button>
    </mat-card-actions>
  </mat-card>
</div>
